/* General Styling */

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent pages from scrolling */
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    height: 100v h;
}

main {
    display: flex;
    flex-grow: 1;
}

#blocklyDiv {
    height: 100vh;
    width: 80vw;
}

#toolbox {
    display: none;
}