# Temporary files and logs
dist/
tmp/
*.log

# Unused files
yolobit.mext
orccontrolhub.mext

# Unused folders
BKIT_robotics_v1/
BKIT_robotics_v2_old/
BKIT_robotics_v2_old_2/
BKIT_robotics_web_app/
ORC_robotics/